@import url('https://use.fontawesome.com/releases/v5.6.3/css/all.css');

html,
body {
  height: 100vh;
}

#app {
  height: 100%;
}

.is-full-height {
  height: 100%;
}

.source-content {
  border: none;
  width: 100%;
  height: 100%;
  overflow: scroll;
  white-space: pre-wrap;
}
